/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2025, 8:16:09 AM
    Author     : admin
*/
.Main{
    -fx-background-color:lightblue;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
    -fx-spacing: 10;
}

.Subject{
    -fx-font-size:40;
    -fx-font-weight: bold;
    -fx-fill:red;
    -stroke:gold;
    -stroke-width: 3;
}

.Button{
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-padding: 5; 
}
